<nav class="navbar navbar-expand-sm navbar-light bg-light my-navbar">
    <div class="container">
        <a class="navbar-brand my-brand" href="{% url 'home' %}">BGStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link {% if active == 'home' %} active{% endif %}"
                       {% if active == 'home' %}aria-current="page" {% endif %}href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active == 'products' %} active{% endif %}"
                       {% if active == 'products' %}aria-current="page" {% endif %}href="{% url 'products' %}">All Games</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-md-auto">

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Account&nbsp;<i class="bi bi-person-circle fw-bold fs-4"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right fw-bold fs-4"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">

                        <a class="nav-link btn btn-light rounded-pill" role="button" href="{% url 'login' %}"
                           style="background-color: #e9ecef;"
                        >
                            Log In</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>