{% load static %}

<link rel="stylesheet" href="{% static 'styles/share-links.css' %}">
<span>Share </span>
<!-- Facebook -->
<a class="btn btn-outline-light btn-floating m-1 share-icon" href="#!" role="button"
><i class="fab fa-facebook-f"></i
></a>

<!-- Twitter -->
<a class="btn btn-outline-light btn-floating m-1 share-icon" href="#!" role="button"
><i class="fab fa-twitter"></i
></a>

<!-- Instagram -->
<a class="btn btn-outline-light btn-floating m-1 share-icon" href="#!" role="button"
><i class="fab fa-instagram"></i
></a>

