body{
    /*background-color: #89cff0;*/
    background-image: url("../images/back-main.jpg");
}

.main-container{
    background-color: #fff;
    border: 1px solid #d9d7cf;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #565553;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*--tw-shadow: 0 0 #0000;*/
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    padding: 20px;
}

.my-brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 22px;
    line-height: 20px;
    font-family: "Rockwell Extra Bold",Forte, Coronetscript, cursive, Helvetica;
    font-weight: bold;
}

.my-navbar{
    background-color: rgb(169, 139, 105);
    /*border: solid 3px white;*/
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.product-price{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
    color: #2fb5d2;
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   /*height:30px;*/
   width:100%;
   /*background:#999;*/
   /* margin-right: 0;*/
}